%%-*- mode: erlang -*-
{erl_opts, [
            debug_info,
            warn_format,
            %% warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_bif_clash
            %% warn_missing_spec,
            %% warn_untyped_record
           ]}.

{deps, [
  {meck,               ".*",    {git, "git://github.com/eproxus/meck.git", "beb8d14e59"}}
]}.
