%%-*- mode: erlang -*-
{erl_opts, [
            debug_info,
            warn_format,
            %% warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_bif_clash
            %% warn_missing_spec,
            %% warn_untyped_record
           ]}.

{deps, [
  {meck, ".*", {git, "git://github.com/eproxus/meck.git", "beb8d14e59"}},
  {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", "e9dfab5aec"}},
  {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "1f9d71c3f5"}}
]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
